.footer {
    color: gray;
    padding: 2rem 1rem;
    font-size: 0.8rem;
    a{
        text-decoration: none;
        color: inherit;
    }
    .container {
        max-width: 980px;
        margin: 0 auto;
    }
    &Socials{

        margin-left: -0.2rem;
        padding: 1rem 0;
        .footerSocial{
            margin-right: 1.1rem;
            svg {
                font-style: 2.2rem;
            }
        }
    
      
    }
    &links{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        .footerLink {
            flex: 1 0 50%;
            margin-bottom: 1.1rem;
            @media screen and (min-widht:768px) {
                flex: 1 0 25%;
                
            }
            
        }

    }
  
}